<form action="/send_post" method="POST">
<input type="text" name="post_title" placeholder="Post Title">
<input type="text" name="post_text" placeholder="Post Text">
<button type="submit" name="send_post">Send Post</button>
</form>