<form action="/send_post" method="POST">
	<div class="form-group">
		<input type="text" name="post_title" class="form-control" placeholder="Post Title">
		<br>
		<textarea type="text" name="post_text" class="form-control" rows="10" placeholder="Post Text"></textarea>
	</div>
	<div class="form-group">
		<button type="submit" name="send_post"><span class="glyphicon glyphicon-ok-circle"></span></button>
		<button type="cancel" name="mierda_pa_ti"><span class="glyphicon glyphicon-remove-circle"></span></button>
	</div>
</form>	